<?php
   $v = date("YmdHis");
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/favicon-32x32.png" sizes="32x32">
    <title>Waynehills TTV A.I.</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css?v=<?=$date?>">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body >
    <main class="BGimg">
        <header>
            <img src="../img/i_logo_w_nomal.png" alt="logo">
        </header>
        <section id="loginP">
            <transition name="slide">
        <nav class="login_popup" ref="pops" v-if=show>{{msg}}</nav>
        </transition>
        <article class="loginBox">
            <div><img src="../img/i_x_g.png" alt="closeBtn" @click=closeBtn></div>
            <div class="loginInputs">
                <ul>
                    <li>로그인</li>
                    <li ref="email_border"><input :type="input1" placeholder="이메일 입력" v-model="email" ref="email_ck"></li>
                    <li style="position: relative; align-items: center;" ref="pw_border">
                        <input :type="input2" placeholder="비밀번호 입력" v-model="pw" ref="pw_ck">
                        <span class="pw_hide" @click="pw_hide_show">{{hide}}</span>
                    </li>
                    <li>
                        <span style="color: #aaa;">비밀번호를 잊으셨나요?</span>
                        <span style="cursor: pointer;">비밀번호 찾기</span>
                    </li>
                    <li style="background-color: #650aa8; cursor: pointer;" @click=loginBtn><input type="button" value="로그인" style="cursor: pointer;"></li>
                    <li style="height: 20px; color: #aaa; margin-bottom: 28px; cursor: pointer;"><img src="../img/i_select_small_g.png" alt="로그인정보저장" style="margin-right: 8px;"> 로그인 정보 저장</li>
                    <li>
                        <span><img src="../img/i_google_b.png" alt="구글">구글로 로그인하기</span>
                        <span><img src="../img/i_facebook_b.png" alt="페이스북">페이스북으로 로그인하기</span>
                    </li>
                    <li style="height: 20px; margin: unset; color: #aaa; justify-content: center;">{{join_msg}}</li>
                    <li style="margin: unset; margin-top: 10px; cursor: pointer;"><input type="button" value="회원가입" style="cursor: pointer;"></li>
                </ul>
            </div>
        </article>
    </section>
    <footer>
        <div>
        <ul class="f_left">
            <li style="font-size: 16px; color: #fff;">한국어</li>
            <li>자주 묻는 질문</li>
            <li>이용약관</li>
            <li><img src="../img/i_copyright.png" alt="copyright">Copyright all rights reserved</li>
        </ul>
        <ul class="f_right">
            <li ><img src="../img/i_logo_footer.png" alt="waynhills_logo" style="width: 200px; height: auto; margin-right: 10px;"></li>
            <li><img src="../img/i_sns_facebook.png" alt="facebook" class="sns"></li>
            <li><img src="../img/i_sns_youtube.png" alt="youtube" class="sns"></li>
            <li><img src="../img/i_sns_instagram.png" alt="instagram" class="sns"></li>
        </ul>
    </div>
    </footer>
    </main>
</body>
<script src="./js/login.js"></script> 
</html>