@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
%base{
    margin: 0;
    padding: 0;
}
%none{
    text-decoration: none;
    color: black;
}
%clear{
    clear: both;
}
%pointer{
    cursor: pointer;
}
@mixin font($family,$weight,$size,$color) {
    @if($family=="noto"){
        //100;300;400;500;700;900
        font-family: 'Noto Sans KR', sans-serif;
    }
    @else if($family=="roboto"){
        //100;300;400;500;700;900
        font-family:'Roboto',sans-serif;
    }
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin flex($justify,$direction,$wrap,$items,$part,$content) {
    display: flex;
    justify-content: $justify;
    flex-flow: $direction $wrap;
    align-items: $items;
    @if($part==2){
        align-content: $content;
    }
    
}
@mixin obj ($width,$height,$position){
     width: $width;
    height: $height;
    position: $position;


}
@mixin bg($op,$bgcolor,$bgurl) {
    @if($op==0){
        background-color: $bgcolor;
    }
    @else if($op==1){
        background-color: "#"+$bgcolor;

    }
    @else if($op==2){
        background-image: url($bgurl);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
*,body{
    @extend %base;
    box-sizing: border-box;
    
}
a:link, a:visited ,a:hover ,a:active{
    @extend %none;
}
section,label,span,footer,main,aside,header,nav{
    display: block;
}
ul,ol{
    @extend %base;
    list-style: none;
}

.BGimg{ 
    @include bg(2,"","../../img/main_bg.png");
    background-color: #000;
    min-width: 100%;
    min-height: 100%;
    @include obj(1920px,1080px,fixed);
}
header{
    @include obj(100%,150px,fixed);
    top: 0;
    left: 0;
    
    &>img{
        @include obj(220px,98px,"");  
        margin-left: 60px;
        margin-top: 40px;
    }
}
.slide-enter, .slide-leave-to{
    transform: translateY(-70px);
}
.slide-enter-to, .slide-leave{
    transform: translateY(0px);
}
.slide-enter-active, .slide-leave-active{
    transition: all 3s ease;
}
.login_popup{
    @include obj(440px,70px,fixed);
   // top:-70px;
    left: 50%;
    margin-left: -220px;
    background-color: #ff5f0a;
    border-radius: 0 0 8px 8px;
    @include font("noto",400,16px,#fff);
    text-align: center;
    line-height: 70px;
    transition: all 0.5s ease;
}
.loginBox{
    @include obj(440px,620px,fixed);
    top: 50%;
    margin-top: -310px;
    left: 50%; 
    margin-left: -220px;
    background-color: #111111E6;
    border-radius: 8px;
    padding: 30px;
    &>div:nth-of-type(1){
        @include obj(100%,30px,"");
        @include flex(flex-end,row,nowrap,center,"","");
        &>img{
            @include obj(28px,28px,"");
            cursor: pointer;
        }
    }
}
.loginInputs{
    @include obj(320px,auto,"");
    margin: 0 auto;
    &>ul{
        @include obj(320px,auto,"");
        &>li{
            @include obj(100%,50px,"");
            @include font("noto",400,12px,#767676);
            @include flex(flex-start,row,nowrap,center,"","");
            margin-bottom: 16px;
            border-radius: 8px;
            & img{
                @include obj(20px,20px,""); 
            }
            & input{
                outline: none;
                border: 0;
                height: 28px;
                width: 93%;
                margin: 0 auto;
                background-color: unset;
                @include font("noto",400,16px,#fff);
                
            }
            &:nth-of-type(1){
                height: 40px;
                @include font("noto",400,26px,#fff);
                line-height: 40px;
                margin-bottom: 40px;
            }
            &:nth-of-type(2), &:nth-of-type(3) , &:nth-of-type(9){
                background-color: #333;   
            }
            &:nth-of-type(4){
                height: 21px;
                line-height: 21px;
                margin-bottom: 22px;
                @include flex(space-between,row,nowrap,center,"","");
                &>span:nth-of-type(2){
                    border-bottom: 2px solid #767676;
                }
            }
            &:nth-of-type(7){
                height: 20px; 
                @include flex(center,row,nowrap,center,"","");
                margin-bottom: 48px;
                &>span{
                    display: flex;
                    align-items: center;
                    padding-right: 20px;
                    cursor: pointer;
                    &:last-of-type{
                        border-left: 1px solid #767676;
                        padding-left: 20px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
.pw_hide{
    @include obj(53px,40px,absolute);
    @include font("noto",400,16px,#aaa); 
    text-align: center;
    line-height: 40px;
    right:20px;
    cursor: pointer;
}

footer{
    @include obj(100%,100px,fixed);
    bottom: 0;
    left: 0;
    background-color: rgba($color: #110f13, $alpha: 0.9); 
    &>div{
        margin: 0 auto;
        max-width: 1260px;
        @include flex(space-around,row,nowrap,center,"","");

    &>.f_left{
        max-width: 500px;
        @include obj(100%,100px,"");
        @include flex(space-around,row,nowrap,center,"","");
        &>li{
            @include obj("",30px,"");
            @include font("noto",500,14px,#aaa);  
            @include flex(center,row,nowrap,center,"","");
            line-height: 30px;
            &:last-of-type{
                font-size: 12px;
            }
            &>img{
                @include obj(30px,30px,"");  
            }
        }
    }
    &>.f_right{
        @include obj(auto,100px,"");
        @include flex(space-between,row,nowrap,center,"","");
        &>li{
            @include obj(auto,30px,"");
            @include font("noto",500,14px,#aaa);  
            @include flex(center,row,nowrap,center,"","");
            line-height: 30px;
            margin-left: 5px;
            &>.sns{
                @include obj(30px,30px,"");
            } 
    }
}
}
}